/* Home */

.leftcol{float:left; left: 0px; width: 100%; height: 720px; border-style: solid; padding: 0%;
    background-image: 
    linear-gradient(to right,rgba(11, 62, 85, 0.5), rgba(0, 28, 41, 0.800) ), 
    url("https://www.valleyvna.org/wp-valleyvna/uploads/2016/08/Waving-1024x585.jpg");
background-repeat: no-repeat; background-size: cover;}

.rightcol {
    text-align: left;
    position: absolute;
    width: 40%;
    top: 150px;
    left: 40%;
  }
h2 {
    color:whitesmoke;
}

p {
    color:whitesmoke;
}