/*Navigation Bar*/
nav{
    font-size: 1em;
    margin: 0;
    width: 100%;
    background-color: rgba(2, 16, 90, 0.774);
}
.navigation-bar{
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.navigation-bar li:hover{
    background-color: rgba(2, 16, 90, 0.774);
    color: rgba(109, 147, 230, 0.966); 
}

nav a{
    text-decoration: none;
    color: white;
}

nav li{
    padding: 30px 30px;
    list-style: none;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}


body {
    display: grid;
    place-items: center;
    padding:0;
    margin:0;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    
}

/* Services */
body {
    display: grid;
    place-items: center;
    padding:0;
    margin:0;
}


.gallery {
    display: grid;
    gap: 05px;
    max-width: 60vh;
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery-card {
    text-align: center;
    background-color: rgba(2, 16, 90, 0.774);
    padding: 15px;
}

.gallery  img {
    width: 100%;
    filter: grayscale(100%);
    background-color: rgba(2, 16, 90, 0.774);
    transition: transform: 0.2s ease-in-out;
}

.gallery  img:hover {
    filter: grayscale(0);
    z-index: 2;
}

@media (min-width: 1200px) {
    .gallery {
        max-width: 99vw;
        grid-template-columns: 1fr 1fr 1fr;
    }
}